.firstSection {
    font-size : 100px; 
    border: 1px solid;
}

.secondSection {
    display: block;
    font-size : 30px; 
    text-align: left;
    padding: 30px;
}

.thirdSection {
    font-size : 30px; 
    text-align: left;
}